.sidebar
  .sidebar__head
    .sidebar__head__users
      %p.sidebar__head__users-user
        = current_user.name
      %ul.sidebar__head__users-icon
        %li.sidebar__head__users-icon__1
          = link_to new_group_path do
            =icon("fas", "pen-square", class: "icon")
        %li.sidebar__head__users-icon__2
          = link_to edit_user_path(current_user) do
            = icon("fas", "cog", class: "icon")
  .sidebar__body
    .sidebar__body__texts
      - current_user.groups.each do |group|
        .group
          = link_to "#" do
            %h.sidebar__body__texts-1
              = group.name
            %p.sidebar__body__texts-2
              メッセージはまだありません。
    
